body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
}

input {
  width: 100px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h2 {
  color: black;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: black;
  font-size: 24px;
}

table {
  display: inline-table;
}

.black {
  color: black;
}

#balance {
  color: black;
}
td {
  border: 1px #DDD solid; padding: 5px; cursor: pointer;
}
.selected {
  background-color: lightgreen;
}
.pending {
  background-color: yellow;
}
.hidden {
display: none;
}
.shown {
display: inline-block;
}
#sell {
    width: 15cm;
    margin: 20px;
    border: 3px solid #73AD21; 
    float: left;
}
#buy {
    width: 15cm;
    margin: 20px;
    border: 3px solid #73AD21; 
    float: left;
}
#chat {
    position: fixed;
    bottom: 0;
    right: 0;
}
